.top-page-header {
  width: 100vw;
  padding: 2vh 5vw;
  display: flex;
  background-color: #d2b48c;
  justify-content: space-between;
  align-items: center;
}

.book-marction-icon {
  width: 10vw;
}

.lists-login {
  display: flex;
  list-style: none;
}
.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.substitle-btn {
  text-decoration: none;
  color: #333333;
}