<%= render "shared/header" %>
<div class='title-contents'>
    <h2 class='service-title'>
      「読み終えた本」を「生活の一部に」
    </h2>
    <p class='service-explain'>
      Book Marctionはだれでもかんたんにご利用できる
    </p>
    <p class='service-explain'>
      読んだ本を記録するアプリです
    </p>
  </div>
<%= render "shared/footer" %>
