.book-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 10px;
}

.item-box {
  background-color: #f8f8f8f8;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.show-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 5vh;
  margin-top: 10vh;
  margin-bottom: 2vh;
  font-weight: bold;
}

.book-box {
  width: 50vw;
  padding-left: 5vw;
  padding-right: 2vw;
}

.plan-box {
  width: 50vw;
  padding-right: 5vw;
  padding-left: 2vw;
}

.detail-book {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}
.detail-book-title {
  width: 20%;
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  font-size: 14px;
  text-align: center;
}

.detail-value-title {
  width: 80%;
  padding: 20px;
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
  color: #dedede;
  font-size: 16px;
  font-weight: bold;
}

.book-reaction{
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.book-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.or-text {
  font-size: 20px;
}

.book-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.comments {
  background-color: #f8f8f8;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  padding: 5vh 20vw;
}

.comments-index{
  background-color: #eee;
  padding: 5vh 2vw;
}

.comment-message-title {
  font-weight: bold;
  padding: 1vh 0;
}

.comment-message {
  padding: 3vh 1vh;
}

.comment-box {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}