.book-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 10px;
}

.item-box {
  background-color: #f8f8f8f8;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 10vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.detail-book {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.book-reaction{
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.book-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.or-text {
  font-size: 20px;
}

.book-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.comments {
  background-color: #f8f8f8;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  padding: 5vh 20vw;
}

.comments-index{
  background-color: #eee;
}

.comment-box {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}